
<div id="areaCalendar" class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-1 offset-2">
                    <h1>
                        <a href="javascript:void(0)" (click)="onClickChangeMonth(targetYear,targetMouth, -1)">＜</a>
                    </h1>
                </div>
                <div class="col-5 text-center">
                    <h1>
                        <span id="nowYear">{{targetYear}}</span>年<span id="nowMonth">{{targetMouth + 1}}</span>月
                    </h1>
                </div>
                <div class="col-1">
                    <h1>
                        <a href="javascript:void(0)" (click)="onClickChangeMonth(targetYear,targetMouth, 1)">＞</a>
                    </h1>
                </div>
            </div>
            <div class="row one-row">
                <div class="col-xs-1-7 date-cell"
                    *ngFor="let day of firstWeek"
                    (click)="onClickDate(day)"
                    [class.selected-cal]="selected_cal(day)"
                    [class.is-saturday]="is_saturday(day)"
                    [class.is-sunday]="is_sunday(day)"
                    [class.is-holiday]="is_holiday(day)">
                    <div class="day-display">
                        {{day.getDate()}}
                    </div>
                    <div draggable="true" 
                        class="todo-normal" 
                        *ngFor="let event of monthEvents[day.getMonth()*100 +day.getDate()]"
                        [ngClass]="getCalClass(event)"
                        (click)="onClickEvent(event)">
                        {{getCategoryName(event)}}
                    </div>
                    <div class="todo-normal omit" *ngIf="monthEventDisp[day.getMonth()*100 +day.getDate()]">
                        ・・・
                    </div>
                </div>
            </div>
            <div class="row one-row">
                <div class="col-xs-1-7 date-cell"
                    *ngFor="let day of secondWeek"
                    (click)="onClickDate(day)"
                    [class.selected-cal]="selected_cal(day)"
                    [class.is-saturday]="is_saturday(day)"
                    [class.is-sunday]="is_sunday(day)"
                    [class.is-holiday]="is_holiday(day)">
                    <div class="day-display">
                        {{day.getDate()}}
                    </div>
                    <div draggable="true" 
                        class="todo-normal" 
                        *ngFor="let event of monthEvents[day.getMonth()*100 +day.getDate()]"
                        [ngClass]="getCalClass(event)"
                        (click)="onClickEvent(event)">
                        {{getCategoryName(event)}}
                    </div>
                    <div class="todo-normal omit" *ngIf="monthEventDisp[day.getMonth()*100 +day.getDate()]">
                        ・・・
                    </div>
                </div>
            </div>
            <div class="row one-row">
                <div class="col-xs-1-7 date-cell"
                    *ngFor="let day of thirdWeek"
                    (click)="onClickDate(day)"
                    [class.selected-cal]="selected_cal(day)"
                    [class.is-saturday]="is_saturday(day)"
                    [class.is-sunday]="is_sunday(day)"
                    [class.is-holiday]="is_holiday(day)">
                    <div class="day-display">
                        {{day.getDate()}}
                    </div>
                    <div draggable="true" 
                        class="todo-normal" 
                        *ngFor="let event of monthEvents[day.getMonth()*100 +day.getDate()]"
                        [ngClass]="getCalClass(event)"
                        (click)="onClickEvent(event)">
                        {{getCategoryName(event)}}
                    </div>
                    <div class="todo-normal omit" *ngIf="monthEventDisp[day.getMonth()*100 +day.getDate()]">
                        ・・・
                    </div>
                </div>
            </div>
            <div class="row one-row">
                <div class="col-xs-1-7 date-cell"
                    *ngFor="let day of forthWeek"
                    (click)="onClickDate(day)"
                    [class.selected-cal]="selected_cal(day)"
                    [class.is-saturday]="is_saturday(day)"
                    [class.is-sunday]="is_sunday(day)"
                    [class.is-holiday]="is_holiday(day)">
                    <div class="day-display">
                        {{day.getDate()}}
                    </div>
                    <div draggable="true" 
                        class="todo-normal" 
                        *ngFor="let event of monthEvents[day.getMonth()*100 +day.getDate()]"
                        [ngClass]="getCalClass(event)"
                        (click)="onClickEvent(event)">
                        {{getCategoryName(event)}}
                    </div>
                    <div class="todo-normal omit" *ngIf="monthEventDisp[day.getMonth()*100 +day.getDate()]">
                        ・・・
                    </div>
                </div>
            </div>
            <div class="row one-row">
                <div class="col-xs-1-7 date-cell"
                    *ngFor="let day of fifthWeek"
                    (click)="onClickDate(day)"
                    [class.selected-cal]="selected_cal(day)"
                    [class.is-saturday]="is_saturday(day)"
                    [class.is-sunday]="is_sunday(day)"
                    [class.is-holiday]="is_holiday(day)">
                    <div class="day-display">
                        {{day.getDate()}}
                    </div>
                    <div draggable="true" 
                        class="todo-normal" 
                        *ngFor="let event of monthEvents[day.getMonth()*100 +day.getDate()]"
                        [ngClass]="getCalClass(event)"
                        (click)="onClickEvent(event)">
                        {{getCategoryName(event)}}
                    </div>
                    <div class="todo-normal omit" *ngIf="monthEventDisp[day.getMonth()*100 +day.getDate()]">
                        ・・・
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [@panelOpenTrigger]='todayState'>
        <div class="col-12 eventbox-main">
            <div class="row">
                <div class="col-10">
                    <div class="day-detail" *ngIf="selectedDate !== null && selectedDate !== undefind">
                        {{selectedDate.getFullYear()}}/{{selectedDate.getMonth()+1}}/{{selectedDate.getDate()}}
                    </div>
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-info" (click)="onClickRegisterOpen()">追加</button>
                </div>
            </div>
            <div class="row"  [class.disp-eventbox]="has_event()"  [class.undisp-eventbox]="!has_event()">
                <table class="table table-striped list">
                    <thead>
                        <tr>
                            <th style="width: 10%;">収支</th>
                            <th style="width: 15%;">L1</th>
                            <th style="width: 40%;">詳細</th>
                            <th style="width: 20%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ev of targetDayEvents">
                            <td>{{getTypeName(ev)}}</td>
                            <td>{{getCategoryName(ev)}}</td>
                            <td>{{ev.detail}}</td>
                            <td>
                                <button class="btn btn-success" (click)="onClickEditOpen(ev)">更新</button>
                                <button class="btn btn-warning">削除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
