<div>
  <div id="mback" class="opacity3">
    <header class="bg-light" *ngIf="isNavi">
        <div class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="Navber">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a routerLink="/calendar" routerLinkActive="active" (click)="golink()" class="nav-link" 
                                    [class.disabled]="currentPage === 'calendar'"><span class="h-jp">カレンダー</span></a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/list" routerLinkActive="active" (click)="golink()" class="nav-link" 
                                    [class.disabled]="currentPage === 'list'"><span class="h-jp">一覧</span></a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/graph" routerLinkActive="active" (click)="golink()" class="nav-link" 
                                    [class.disabled]="currentPage === 'graph'"><span class="h-jp">グラフ</span></a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/logout" routerLinkActive="active" (click)="golink()" class="nav-link" 
                                    [class.disabled]="currentPage === 'logout'"><span class="h-jp">ログアウト</span></a>
                            </li>
                        </ul>
                        <button  (click)="onChangePanelState()"></button>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main id="root">
        <div class="h-spc" ></div>
        <div [@panelOpenTrigger]='pagestate'>
            <router-outlet></router-outlet>
        </div>
    </main>
  </div>
</div>